@import './../../responsive';

.noticias__banner{
  width: 100%;
  height: 25rem;
  padding: 0.9375rem 2.5rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;



  @include large{
    width: 100%;
  }

  .noticias__banner-content-title{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 15.75rem;
    left: 11.25rem;
    &::before{
      content: "";
      border-left: 0.1875rem solid var(--color_ligth);
      height: 100%;
      position: absolute;
    }
    .noticias__banner-title{
      color: var(--color_ligth);
      font-size: 2.1875rem;
      font-weight: 400;
      margin-left: 0.9375rem;
    }
  } 
}